<div id="login-form">
  <p class="login_title">Matsuzakiのサービスページのログイン画面です。</p>
  <h1>Welcome to MY service login page</h1>


<div id="formWrap">
  <%= form_with model: @form, url: :member_session do |f| %>
  <div class="formTable">
  <table class="formTableContent">
  <tbody>
    <tr>
    <td>
        <%= f.text_field :email, :placeholder => "Enter your email..." %>
    </td>
    </tr>
    <tr>
    <td>
        <%= f.password_field :password, :placeholder => "Enter your password..." %>
    </td>
    </tr>
  </tbody>
  </table>
    <div>
      <%= f.submit "ログイン" %>
    </div>
  </div>

  <div class ="new_account">
    <span class=""><%= link_to "新規アカウントを作成する", :member_ramen_member_new %></span>
   </div> 
  <% end %>
</div>
</div>
<footer>

  <div class="copy_right">
    <p>  Copyright © 2020 MATSUZAKI_KANKI</p>
  </div>
</footer>