<p id="notice"><%= notice %></p>
<div class="form_inner">
<h1 class="post_title">お勧めのラーメン屋さん</h1>
<p class="post_subtitle">RECOMEND</p>

<table class="post_table">
  <thead>
    <tr>
      <th class="show_image">
        <%= image_tag @member_post.image.to_s %>
      </th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td class="show_content">
      お店の名前：<%= @member_post.title %>
    </td>
  </tr>
  <tr>
    <td class="show_content">
      お店の場所：<%= @member_post.place %>
    </td>
  </tr>
  <tr>
  <td class="show_content">
    コメント：<%= @member_post.content %>
  </td>
</tr>
  </tbody>
</table>
<hr>
<div class="comment_form">
  <h2 class="comment_title">コメントを書く</h2>
  <%= form_with model: [@member_posts, @comment], local: true do |f| %>
    <%= f.hidden_field :member_post_id, { value: @member_post.id } %>
  <div>
    <span class="comment_label">Name: </span><%= f.text_field :name, class: "comment_field" %>
  </div>
  <div>
  <span class="comment_label">Content: </span><%= f.rich_text_area :content %>
  </div>
  <div>
  <div class="actions">
  <%= f.submit :投稿をする, class: "new_post_button" %>
</div>
  </div>
  <% end %>
</div>
</div>
<%= render "common/footer" %>
